.button {
    border: 1px solid green;
    display: block;
    margin: 30px auto 30px auto;
}
.form {
    display:block;
    width: 50%;
    border: 3px solid orangered;
    padding:50px;
    text-align: center;
}
.input {
    border-bottom: 2px solid greenyellow;
}
.li {
    list-style-type: none;
    padding: 5px;
    background-color: #c6bfbf;
    border-radius: 5px;
    border: 1px solid purple;
    margin-bottom: 10px;
    width: 50%;
}